<!--Footer Section Starts Here-->
<footer id="footer" style="background-color: #333333">
    <div class="container footer-container">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12 col-sm-8">
                    <a ui-sref="Home" class="logo pageload">
                        <img src="images/logo.png" class="img-responsive" alt="New Providence"></a>
                </div>
                <div class="col-md-12 col-sm-6 vm-footer-text">
                    <p class="vmo-footer-quote" style="">உங்கள் தினசரி பிரார்த்தனை நண்பன்</p>
                </div>
            </div>
            <div class="col-md-6">
                <div id="menulist" class="col-md-12 col-sm-12 col-xs-12 vmo-ipad-footer footer-links vm-footer-links" style="color:#ffffff;">
                    <ul class="vmo-align-center">
                        <li>
                            <a ui-sref="AboutUs">
                                <p class="title pageload" style="color:#ffffff;">About Us</p>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="PrivacyPolicy">
                                <p class="title pageload" style="color:#ffffff;">Privacy policy</p>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="TermsConditions">
                                <p class="title pageload" style="color:#ffffff;">Terms & Conditions</p>
                            </a>
                        </li>
                        <li>
                            <p class="vmo-followus">Follow Us on &nbsp;:</p>&nbsp;<a href="https://www.facebook.com/prarthanaiapp" target="_blank"><i class="fa fa-facebook fa-0.5x vmo-fb"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12 col-xs-12 text-center vm-copyrights">
                <a href="https://itunes.apple.com/in/app/prarthanai/id1120632042?mt=8" class="app_download" target="_blank">
                    <img src="images/app-store-download.png" alt="">
                </a>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12 col-xs-12 text-center">
                <p class="vmo-copyright" style="font-size: 11px; color:#ffffff;letter-spacing: 1px;">Copyright © 2016 Prarthanai App. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!--footer Section Ends Here-->
